.auth-button{
    padding: 10px;
}

.auth-button-link{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 10px;
    text-decoration: none; /* Убираем нижнее подчеркивание */
    color: #000; /* Изменяем цвет ссылок */
}