.header-button {

}

.logout-button {
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: var(--color-text);
    transition: color 0.3s ease, transform 0.3s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.logout-button:hover {
    color: #555555;
}
